--- 
--- 

@import "bootstrap"; 

$background-color: rgb(253, 253, 253); 

:root {
	--hidden-before-vue: hidden;
}

img {
	margin-bottom: 24px;
	margin-top: 17px;
	border-radius: 2%;
}


body {
	padding-top: 70px; 
	background-color: var(background-color);
}

figcaption {
	text-align: right;
	margin-top: -20px;
	margin-bottom: 20px;
}


/* Top navigation bar */


p.byline {
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	margin-top: -24px;
	margin-bottom: 48px;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px;
	/* or 950px */
}

/* Home, News */
#newsid p {
	text-align: left;
}

#homeidtmp h1 {
	text-align: center;
}

#newsid img {
	margin-top: 6px;
	margin-bottom: 6px;
}

/* Team & Publications */
#gridid img {
	margin: 16px 22px 6px 0;
	border-radius: 10%;
	box-shadow: 2px 2px 5px #888888
}

#homeid img {
	margin: 0 0 0 0;
	border-radius: 5%;
	box-shadow: 0px 0px 0px #888888
}

#picid img {
	margin: 6px 3px 60px 6px;
	border-radius: 1%;
	box-shadow: 2px 2px 5px #888888
}

#gridid .row {
	margin-bottom: 24px;
}


/* Grid overrides */
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
	padding-left: 16px;
	padding-right: 16px;
}

/* Grid overrides */
.col-sm-4 {
	padding-left: 26px;
	padding-right: 26px;
}


/* Carusel */

.carousel {
	border-radius: 3px 3px 3px 3px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

#banner-image {
	position: relative;
	width: 100%;
	height: auto;
	mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0.1) 100%);
	-webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0.1) 100%);
	mask-composite: exclude;
	-webkit-mask-composite: destination-in;
	margin-top: 0px;
	margin-bottom: 5px;
}

.el-row {
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

/* Remove blue color and underline for all <a> elements */
.side-icons {
	color: inherit;
	/* Use the parent's text color */
}

/* Optional: Add hover effects if needed */
.side-icons:hover {
	color: inherit;
}

.side-icons-texts {
	color: inherit;
}

.side-icons-texts:hover {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}

.fa-lg {
	color: #1f6cb8a9;
}

/* Default styles */
.large-screen {
	display: block;
}

.small-screen {
	display: none;
}

/* Show small-screen layout on small devices */
@media screen and (max-width: 1024px) {
	.large-screen {
		display: none;
	}

	.small-screen {
		display: block;
	}
}

.pub-title-textbox {
    display: flex;
    align-items: flex-start;     /* Vertically center the content */
    justify-content: center; /* Optional: Center text horizontally */
    line-height: 1.5;        /* Defines single-line height */
    height: 3em;             /* Fixed two-line height */
    text-align: center;      /* Optional: Align text in the center */
    box-sizing: border-box;  /* Includes padding in height calculations */
	font-weight: bold; 
	color: inherit;
}

.pub-list-grid {
	margin-bottom: 10px;
}

.proj-title-textbox {
	font-weight: bold;
}

#footer {
	position: fixed; 
	bottom: 0px; 
	left: 0px; 
	width: 100%;
	margin-bottom: 0px;
}

.el-collapse-item__header,
.el-collapse-item__content, 
.el-link {
  color: inherit !important;
  background-color: var(background-color) !important;
  font-size: inherit !important;
  font-family: inherit !important;
}

.swap-word {
	color: var(--el-color-warning);
	font-family: 'Courier New', Courier, monospace;
}
