---
title: "Research"
layout: textlay
excerpt: "Research"
sitemap: false
permalink: /research/
---

<h3>Highlights</h3>

<p>Want to see more of my projects? Click <a href="/projects">here</a>!</p>

{% assign number_printed = 0 %}

<!-- papers -->
{% for publication in site.data.papers %}

{% assign even_odd = number_printed | modulo: 2 %}
{% if publication.highlight == 1 %}

{% if even_odd == 0 %}
<div class="row">
{% endif %}

<div class="col-sm-6 clearfix">
 <div class="well">
  <span class="pub-title-textbox">{{ publication.title }}</span>
  <img src="{{ site.url }}{{ site.baseurl }}/images/pubpic/{{ publication.image }}" class="img-responsive" width="100%" style="float: left" />
  <p style="text-align: justify;">{{ publication.description }}</p>
  <p><em>{{ publication.authors }}</em></p>
  <p><strong><a href="{{ publi.link.url }}">{{ publication.link.display }}</a></strong></p>
 </div>
</div>

{% assign number_printed = number_printed | plus: 1 %}

{% if even_odd == 1 %}
</div>
{% endif %}

{% endif %}
{% endfor %}

<!-- patents -->
{% for patent in site.data.patents %}

{% assign even_odd = number_printed | modulo: 2 %}
{% if patent.highlight == 1 %}

{% if even_odd == 0 %}
<div class="row">
{% endif %}

<div class="col-sm-6 clearfix">
 <div class="well">
  <span class="pub-title-textbox">{{ patent.title }}</span>
  <img src="{{ site.url }}{{ site.baseurl }}/images/pubpic/{{ patent.image }}" class="img-responsive" width="100%" style="float: left" />
  <p style="text-align: justify;">{{ patent.description }}</p>
  <p><em>{{ patent.authors }}</em></p>
  <p><strong><a href="{{ publi.link.url }}">{{ patent.link.display }}</a></strong></p>
 </div>
</div>

{% assign number_printed = number_printed | plus: 1 %}

{% if even_odd == 1 %}
</div>
{% endif %}

{% endif %}
{% endfor %}

{% assign even_odd = number_printed | modulo: 2 %}
{% if even_odd == 1 %}
</div>
{% endif %}

<hr>

<h3>Patents</h3>

{% assign number_printed = 0 %}
{% for pat in site.data.patents %}
{% assign number_printed = number_printed | plus: 1 %}

<div style="margin-bottom: 10px;">
    <table>
        <tr>
            <td style="width: 4ch;">[{{ number_printed }}]</td>
            <td><span>{{ pat.title }}</span>&nbsp;<span>({{ pat.number }};&nbsp;{{ pat.date}})</span></td>
        </tr>
        <tr>
            <td></td>
            <td><em>{{ pat.authors }}</em></td>
        </tr>
        <tr>
            <td></td>
            <td><el-tag type="primary">Tag 1</el-tag></td>
        </tr>
    </table>
</div>

{% endfor %}

<hr>

<h3>Publications</h3>

{% assign number_printed = 0 %}
{% for paper in site.data.papers %}
{% assign number_printed = number_printed | plus: 1 %}

<div style="margin-bottom: 10px;">
    <table>
        <tr>
            <td style="width: 4ch;">[{{ number_printed }}]</td>
            <td><span style="display: inline;"><a href="{{ paper.link.url }}" target="_blank" style="text-decoration: none;">{{ paper.title }}</a></span> {% if paper.under-review %}<span style="display: inline;">(<i>under review</i>)</span>{% endif %}</td>
        </tr>
        <tr>
            <td></td>
            <td><em>{{ paper.authors }}</em></td>
        </tr>
        <tr>
            <td></td>
            <td><el-tag type="primary">Tag 1</el-tag></td>
        </tr>
    </table>
</div>

{% endfor %}

<hr>
