<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="large-screen">
        <el-row style="margin-bottom: 0px;">
          <el-col :span="8">
            <div style="text-align: left">
              <span>&copy 2024 Gao, Weihe. All rights reserved. </span>
            </div>
          </el-col>
          <el-col :span="8">
            <div style="text-align: center">
              <span>Bye for now. Come back soon!</span>
            </div>
          </el-col>
          <el-col :span="8">
            <div style="text-align: right">
              <span>Last Updated: {{ site.data.metadata.update_date }}</span>
            </div>
          </el-col>
        </el-row>
      </div>

      <div class="small-screen">
        <el-row style="margin-bottom: 0px;">
          <el-col :span="24">
            <div style="text-align: center">
              <span>&copy 2024 Gao, Weihe. All rights reserved. </span>
            </div>
          </el-col>
        </el-row>
        <el-row style="margin-bottom: 0px;">
          <el-col :span="24">
            <div style="text-align: center">
              <span>Bye for now. Come back soon!</span>
            </div>
          </el-col>
        </el-row>
        <el-row style="margin-bottom: 0px;">
          <el-col :span="24">
            <div style="text-align: center">
              <span>Last Updated: {{ site.data.metadata.update_date }}</span>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>
  </div>
</div>
