<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <!-- Calendly link widget begin -->
    <link
      href="https://assets.calendly.com/assets/external/widget.css"
      rel="stylesheet"
    />
    <script
      src="https://assets.calendly.com/assets/external/widget.js"
      type="text/javascript"
      async
    ></script>
    <!-- Calendly link widget end -->

    {% include header.html %}

    <div id="element-ui-app">
      <div class="container-fluid">{{ content }}</div>
    </div>

    <script>
      const { createApp, ref, onMounted } = Vue;

      const App = {
        setup() {
          const words = ["chubby", "fluffy", "adorable", "cute"];
          const fox_adjective = ref(words[0]);
          let index = 0;

          const swapWord = () => {
            index = (index + 1) % words.length;
            fox_adjective.value = words[index]; 
          };

          onMounted(() => {
            setInterval(swapWord, 300); // Swap word every 0.5 seconds
          });

          return {
            fox_adjective, 
            activeNames: ["1"],
            projects_active_names: ["1"],
            travelogue_active_names: ["1", "2"],
          };
        },
        methods: {},
      };
      const app = Vue.createApp(App);
      app.use(ElementPlus, {});
      app.mount("#element-ui-app");
    </script>

    {% include footer.html %}
  </body>
</html>
