<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <!-- Calendly link widget begin -->
    <link
      href="https://assets.calendly.com/assets/external/widget.css"
      rel="stylesheet"
    />
    <script
      src="https://assets.calendly.com/assets/external/widget.js"
      type="text/javascript"
      async
    ></script>
    <!-- Calendly link widget end -->

    {% include header.html %}

    <div id="element-ui-app">
      <div class="container-fluid">{{ content }}</div>
    </div>

    <script>
      new Vue({
        el: "#element-ui-app",
        data() {
          return {
            activeNames: ["1"],
          };
        },
        methods: {
          OnDogsClicked() {
            var c = document.getElementById("dog-definition-canvas");
            var ctx = c.getContext("2d");
            ctx.moveTo(0, 0);
            ctx.lineTo(200, 100);
            ctx.stroke();
          },
        },
      });
    </script>

    {% include footer.html %}
  </body>
</html>
