<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <!-- Calendly link widget begin -->
    <link
      href="https://assets.calendly.com/assets/external/widget.css"
      rel="stylesheet"
    />
    <script
      src="https://assets.calendly.com/assets/external/widget.js"
      type="text/javascript"
      async
    ></script>
    <!-- Calendly link widget end -->

    {% include header.html %}

    <div id="element-ui-app" style="visibility: var(--hidden-before-vue)">
      <div v-loading.fullscreen.lock="!is_loaded"></div>
      <el-backtop></el-backtop>
      <div class="container-fluid" style="margin-bottom: 100px">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>

    <!-- element-ui-app -->
    <script src="{{ site.url }}{{ site.baseurl }}/js/element-ui-app.js"></script>
  </body>
</html>
