{% raw %}




<p style="text-align: justify">
  I'm a PhD researcher in <a href="https://en.wikipedia.org/wiki/Fallacies_of_distributed_computing#cite_ref-8-Fallacies_1-0" target="_blank">distributed systems</a> at <a href="https://distrinet.cs.kuleuven.be/" target="_blank">DistriNet</a> working with Prof. <a href="https://tvcutsem.github.io/aboutme/" target="_blank">Tom Van Cutsem</a>. 
  I completed my master's degree in Computer Science at 
  <a href="https://www.cs.tsinghua.edu.cn/csen/" target="_blank">Tsinghua CS</a>. 
  Before this, I had an amazing four years studying Computer Engineering at
  <a href="https://www.lancaster.ac.uk/" target="_blank">Lancaster University</a>
  for my undergrad - it was a journey full of learning, growth, and unforgettable
  experiences.
</p>

<p style="text-align: justify">
  My research interests span over anything around <b>Computer Systems</b>, where
  I've explored many <a href="/projects">sub-areas</a>. Wanna chat? Shoot me an
  <a href="mailto:nickwgao+i.am.bot@gmail.com" target="_blank">email</a>, or simply set up a
  <a href=""
    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/gaoweihe?hide_landing_page_details=1&hide_gdpr_banner=1'});return false;">meeting</a>!
</p>

<h4>Explored Research Areas</h4>
<ul>
  <li>Real-time Sensor Networks</li>
  <li>Industrial Internet-of-Things</li>
  <li>Consensus and Protocols</li>
  <li>Security and Privacy</li>
  <li>Scheduling and Predictability</li>
  <li>Bio-medical Engineering and Medical Informatics</li>
</ul>

<h4>Beyond Academia</h4>
<p style="text-align: justify">
  I'm all about getting out and connecting with nature. Cycling, hiking, camping
  - you name it, I'm in! I'm always up for trying something new, so if there's
  an adventure brewing, don't forget to invite me!
</p>
<p style="text-align: justify">
  My wife
  <a href="https://shiqi-yu.github.io/" target="_blank">Charlotte</a> studies
  Extended Reality and Human-Computer Interaction at Northeastern University.
  Both of us are passionate adventurers, and big fans of

  <el-popover placement="top-start" popper-class="dog-popover" trigger="click" width="324px">
    <template #default>
      <el-card class="dog-card" shadow="never">
        <span style="
            font-family: 'Courier New', Courier, monospace;
            font-size: x-large;
            font-weight: bold;
          ">dog</span><br />
        <span style="
            font-family: 'Courier New', Courier, monospace;
            font-size: medium;
          ">[dawwg]</span>
        <span>&nbsp;&nbsp;</span>
        <span style="
            font-family: 'Courier New', Courier, monospace;
            font-size: medium;
            font-weight: bold;
          ">noun</span><br /><br />
        <span style="
            font-family: 'Courier New', Courier, monospace;
            font-size: medium;
          ">the most loyal and loving<br />friend you will ever have.<br />quickly
          becomes everyone's<br />favorite family member.</span>
      </el-card>
    </template>
    <template #reference>
      <a slot="reference" style="cursor: pointer">dogs</a></template></el-popover><span> as well.</span>
</p>

{% endraw %}