<p style="text-align: justify">
  I'm a master's student in Computer Science at
  <a href="https://www.cs.tsinghua.edu.cn/csen/" target="_blank">Tsinghua CS</a
  >. <i>Open to 2025 Fall Ph.D. opportunities.</i> My research interests lie in
  anything around <b>Computer Systems</b>, where I've explored many
  <a href="/projects">sub-areas</a>.
</p>
Wanna chat? Shoot me an
<a href="mailto:nickwgao@gmail.com" target="_blank">email</a>, or set up a
<a
  href=""
  onclick="Calendly.initPopupWidget({url: 'https://calendly.com/gaoweihe?hide_landing_page_details=1&hide_gdpr_banner=1'});return false;"
  >meeting</a
>!

<h4>Research Interests</h4>
<ul>
  <li>Real-time Sensor Networks</li>
  <li>Industrial Internet-of-Things</li>
  <li>Consensus and Protocols</li>
  <li>Security and Privacy</li>
  <li>Scheduling and Predictability</li>
</ul>

<h4>Beyond Academia</h4>
My wife
<a href="https://shiqi-yu.github.io/" target="_blank">Charlotte</a> works on
Extended Reality and Human-Computer Interaction at Northeastern University. Both
of us are passionate adventurers, and big fans of

<el-popover placement="top-start" popper-class="dog-popover" trigger="click" width="324px">
  <template #default>
    <el-card class="dog-card" shadow="never">
      <span
        style="
          font-family: 'Courier New', Courier, monospace;
          font-size: x-large;
          font-weight: bold;
        "
        >dog</span
      ><br />
      <span
        style="
          font-family: 'Courier New', Courier, monospace;
          font-size: medium;
        "
        >[dawwg]</span
      >
      <span>&nbsp;&nbsp;</span>
      <span
        style="
          font-family: 'Courier New', Courier, monospace;
          font-size: medium;
          font-weight: bold;
        "
        >noun</span
      ><br /><br />
      <span
        style="
          font-family: 'Courier New', Courier, monospace;
          font-size: medium;
        "
        >the most loyal and loving<br />friend you will ever have.<br />quickly
        becomes everyone's<br />favorite family member.</span
      >
    </el-card>
  </template>
  <template #reference>
    <a slot="reference" style="cursor: pointer"
      >dogs</a
    ></template
  ></el-popover
><span> as well.</span>
