<el-row style="margin-bottom: 0%">
  <h3 style="display: inline; text-align: center; margin-top: 0px">
    Gao, Weihe&nbsp;
  </h3>
  <el-popover placement="bottom" width="300" trigger="click" hide-on-blur>
    <template #default>
      <el-card shadow="never">
        <h4>N. P. Wilde</h4>
        <p>
          Named after the &nbsp;
          <span
            v-if="fox_adjective"
            v-html="fox_adjective"
            :key="fox_adjective"
            class="swap-word"
          ></span>
          &nbsp; fox happily <br />
          living in Zootopia with Hopper!
        </p>
        <el-image
          src="{{ site.url }}{{ site.baseurl }}/images/npwilde.webp"
        ></el-image>
      </el-card>
    </template>
    <template #reference>
      <h3
        style="
          display: inline;
          text-align: center;
          margin-top: 0px;
          cursor: pointer;
        "
      >
        ( Nick )
      </h3>
    </template>
  </el-popover>
</el-row>
<el-row style="margin-bottom: 0%">
  <span>Pronouns: <i>he / him / his</i></span>
</el-row>
<el-row>
  <span>How to pronounce: <i>way-heh</i> </span>
</el-row>

<el-collapse v-model="activeNames">
  <el-collapse-item title="Basics" name="1"
    ><el-row type="flex" align="middle">
      <el-col :span="1"></el-col>
      <el-col :span="5">
        <div style="text-align: center">
          <span class="fa-solid fa-location-dot fa-lg"></span>
        </div>
      </el-col>
      <el-col :span="16">
        <el-popover placement="bottom" width="324" trigger="click" hide-on-blur>
          <template #reference>
            <el-link :underline="false">Boston, MA</el-link>
          </template>
          <template #default>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1239.8441824613442!2d-71.09255232305006!3d42.34544316624999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1733694214428!5m2!1sen!2sus"
              width="300"
              height="200"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </template>
        </el-popover>
      </el-col>
    </el-row>

    <el-row type="flex" align="middle">
      <el-col :span="1"></el-col>
      <el-col :span="5">
        <div style="text-align: center">
          <span class="fa-regular fa-envelope fa-lg"></span>
        </div>
      </el-col>
      <el-col :span="16">
        <el-link
          :underline="false"
          href="mailto:nickwgao@gmail.com"
          target="_blank"
          >nickwgao@gmail.com</el-link
        >
      </el-col>
    </el-row>

    <el-row type="flex" align="middle">
      <el-col :span="1"></el-col>
      <el-col :span="5">
        <div style="text-align: center">
          <span class="fa-regular fa-file fa-lg"></span>
        </div>
      </el-col>
      <el-col :span="16">
        <el-link
          href="{{ site.url }}{{ site.baseurl }}/downloads/gaoweihe_cv_en-uk.pdf"
          target="_blank"
          :underline="false"
          >Curriculum Vitae</el-link
        >
      </el-col>
    </el-row>

    <el-row type="flex" align="middle">
      <el-col :span="1"></el-col>
      <el-col :span="5">
        <div style="text-align: center">
          <span class="fa-solid fa-key fa-lg"></span>
        </div>
      </el-col>
      <el-col :span="16">
        <el-link
          href="https://github.com/gaoweihe.keys"
          target="_blank"
          :underline="false"
          >SSH</el-link
        >
        <el-divider direction="vertical"></el-divider>
        <el-link
          href="https://github.com/gaoweihe.gpg"
          target="_blank"
          :underline="false"
          >GPG</el-link
        >
      </el-col>
    </el-row>
  </el-collapse-item>
  <el-collapse-item title="Professional" name="2"
    ><el-row type="flex" align="middle">
      <el-col :span="1"></el-col>
      <el-col :span="5">
        <div style="text-align: center">
          <span class="fa-brands fa-github fa-lg"></span>
        </div>
      </el-col>
      <el-col :span="16">
        <el-link
          :underline="false"
          href="https://github.com/gaoweihe"
          target="_blank"
          >@gaoweihe</el-link
        >
      </el-col>
    </el-row>

    <el-row type="flex" align="middle">
      <el-col :span="1"></el-col>
      <el-col :span="5">
        <div style="text-align: center">
          <span class="fa-brands fa-linkedin-in fa-lg"></span>
        </div>
      </el-col>
      <el-col :span="16">
        <el-link
          :underline="false"
          href="https://www.linkedin.com/in/weihe-gao-600a1712b/"
          target="_blank"
          >@gaoweihe</el-link
        >
      </el-col>
    </el-row>
  </el-collapse-item>
  <el-collapse-item title="Academic" name="3"
    ><el-row type="flex" align="middle">
      <el-col :span="1"></el-col>
      <el-col :span="5">
        <div style="text-align: center">
          <span class="fa-brands fa-orcid fa-lg"></span>
        </div>
      </el-col>
      <el-col :span="16">
        <el-link
          :underline="false"
          href="https://orcid.org/0000-0002-3881-7388"
          target="_blank"
          >0000-0002-3881-7388</el-link
        >
      </el-col>
    </el-row>

    <el-row type="flex" align="middle">
      <el-col :span="1"></el-col>
      <el-col :span="5">
        <div style="text-align: center">
          <span class="fa-brands fa-google-scholar fa-lg"></span>
        </div>
      </el-col>
      <el-col :span="16">
        <el-link
          :underline="false"
          href="https://scholar.google.com/citations?user=WryZ9ywAAAAJ&hl=en"
          target="_blank"
          >WryZ9ywAAAAJ</el-link
        >
      </el-col>
    </el-row>

    <el-row type="flex" align="middle">
      <el-col :span="1"></el-col>
      <el-col :span="5">
        <div style="text-align: center">
          <span class="fa-brands fa-x-twitter fa-lg"></span>
        </div>
      </el-col>
      <el-col :span="16">
        <el-link
          :underline="false"
          href="https://x.com/nickwgao"
          target="_blank"
          >@nickwgao</el-link
        >
      </el-col>
    </el-row>
  </el-collapse-item>
</el-collapse>
